root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
#charset = utf-8

[*.{yml,yaml,config,properties}]
indent_style = space
indent_size = 2
tab_width = 2

[*.java]
indent_style = space
indent_size = 4
tab_width = 4

[*.{kts,gradle,toml}]
indent_style = space
indent_size = 4
tab_width = 4

[.{gitattributes,editorconfig,gitignore}]
indent_style = space
indent_size = 4
tab_width = 4

[*.xml]
indent_style = space
indent_size = 2
tab_width = 2
